@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    caret-color: #F7B348;
}

.special-label {
    font-size: 12px !important;
    color: #999999;
}

#otp_id {
    appearance:textfield;
}
#otp_id::-webkit-inner-spin-button{
    appearance: none;
}
#otp_id::-webkit-outer-spin-button{
    appearance: none;
}